/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/ 

#header {
  padding: 15px 0;
  height: 90px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997; 
}

#header.header-fixed {
  background: #3F26BB;
  opacity: 0.75;
  padding: 3px 0;
  height: 65px;
  transition: all 0.5s;
}

.header-background{
  background: #3F26BB;
  opacity: 0.75;
}

.header-bg-purple{ 
    background: #42009E;
    opacity: 0.75;
}

#header #logo {
  float: left;
}

#header #logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 4px 0;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

#header .nav-item a{
  color: #fff;
/*  font-size: 1.1em;*/
  font-weight: bold;  
  transition: 0.2s all; 
  text-transform: uppercase;
}

#header .nav-item .dropdown-item{ 
  background: #966dd6;
  opacity: 0.75;
}

@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 26px;
  }
  #header #logo img {
    max-height: 40px;
  }
}

.my-nav{z-index: 200; background-color: transparent;}

.highlight-red {
    color:#e8491d; 
    -webkit-text-stroke-color: #391773;
   text-shadow: #391773 0 0 2px;
}

.highlight-purple {
    color:#391773; 
    -webkit-text-stroke-color: #fff;
   text-shadow: #fff 0 0 2px;
}

.highlight-white {
    color:#fff; 
    -webkit-text-stroke-color: #e8491d;
   text-shadow: #e8491d 0 0 2px;
}

.highlight-red, .highlight-purple, .highlight-white {
   font-weight: bold;
   font-size: 150%;
/*   -webkit-text-stroke-width: .1px; */
}