<h2>Accounts</h2> 
<a routerLink="/Account/new"
            class="btn btn-link btn-danger">Create New</a> 
<table class="table table-stripped">
    <tr>
        <th>#</th>
        <th>Username</th>
        <th>isActive</th>
        <th>isLocked</th>
        <th>isExpired</th>
        <th>Date Created</th>
        <th>Blogs</th>
        <th></th>
    </tr>
    <tr *ngFor="let account of accounts" >           
        <td>
            <a routerLink="/Account/{{account.id}}" class="btn btn-link btn-danger">
                <i class="fa fa-eye" aria-hidden="true"> {{account.id}}</i>                
            </a> 
        </td>
        <td>{{account.username}}</td>
        <td>{{account.active}}</td>
        <td>{{account.locked}}</td>
        <td>{{account.accountExpired}}</td>
        <td>{{account.creationTime}}</td>
        <td>{{account.blogs.length}}</td>
        <td> 
            <a routerLink="/Account/{{account.id}}/edit" class="btn btn-link btn-danger">
                <i class="fa fa-pencil-square-o" aria-hidden="true"> Edit</i>                
            </a> 
             | <button (click)="deleteAccount(account)" class="btn btn-link btn-danger">
                 <i class="fa fa-window-close" aria-hidden="true"> Disable</i></button> 
        </td>
    </tr>
</table>
