<div style="padding-top: 90px;" ></div>
<div>
    <h2>Pre Requisite</h2>  
    <a routerLink="/admin/prerequisites/new" 
        class="btn btn-link btn-danger">Create New</a> 
        
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>Last Modified</th>
                <th>Last Modified By</th> 
                <th>&nbsp;</th> 
            </tr> </thead>
        <tr *ngFor="let preRequisite of preRequisites" >           
            <td>
                <a [routerLink]="['./', preRequisite.id, 'view']" class="btn btn-link btn-danger">
                    <i class="fa fa-eye" aria-hidden="true">{{preRequisite.id}}</i>                
                </a> 
            </td>
            <td>{{preRequisite.name}}</td>
            <td>{{preRequisite.modificationTime }}</td> 
            <td>{{preRequisite.modifiedByUser}}</td> 
            <td> 
                <a [routerLink]="['./', preRequisite.id]"   class="btn btn-link btn-link-info">
                    <i class="fa fa-edit" aria-hidden="true"> Edit</i>                
                </a>  
                <button (click)="deletePreRequisite(preRequisite)" class="btn btn-link btn-link-danger">
                    <i class="fa fa-minus" aria-hidden="true"> Delete</i></button> 
            </td>
        </tr>
    </table>
</div>