Test 1234
<input
    (keyup.enter)="createBlog(title)" #title
    type="text" class="form-control"/>
<ul class ='list-group' >
    <li
        *ngFor="let blog of blogs"
        class="list-group-item">
        {{blog.id}} - {{blog.username}} {{blog.title}} |
        <button (click)="updateBlog(blog)"
            class="btn btn-default btn-sm btn-info">Edit Me</button> |
        <button (click)="deleteBlog(blog)"
            class="btn btn-default btn-sm btn-danger">Delete Me</button>    
    </li>
</ul>
