 
<!--==========================
  Hero Section
============================-->
<section id="hero" style=" background-size: 100vw;">
    <div class="hero-products" style="width:95vw" >
        <div class="row">
            
            <div class="col-sm-6 mb-sm-40">
                <a class="gallery" href="#"><img src="assets/images/pf1.jpg" alt="Single Product Image"/></a>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12"> 
                        <h1 class="product-title font-alt">{{product.name}}</h1>
                    </div>
                </div>
                <div class="row mb-20">
                    <div class="col-sm-12">
                        <span><i class="fa fa-star"></i></span> 
                        <span><i class="fa fa-star"></i></span> 
                        <span><i class="fa fa-star"></i></span> 
                        <span><i class="fa fa-star-half-full"></i></span> 
                        <span><i class="fa fa-star-o"></i></span>
                    </div>
                </div> 
                <div class="row mb-20">
                    <div class="col-sm-12">
                        <div class="description"> 
                            <p [innerHtml]="product.displayContent"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="hero2sd" >
    <div class="container">
        
        <app-tab-panel>
            <app-view-tab title="Description">                
                <p>
                    Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators. To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words. If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages.
                </p>
                <p>
                    The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words.
                </p>
            </app-view-tab> 
            
            <app-view-tab title="Data Sheet">                
               <table class="table table-striped ds-table table-responsive">
                      <tbody>
                        <tr>
                          <th>Title</th>
                          <th>Info</th>
                        </tr>
                        <tr>
                          <td>Compositions</td>
                          <td>Jeans</td>
                        </tr>
                        <tr>
                          <td>Size</td>
                          <td>44, 46, 48</td>
                        </tr>
                        <tr>
                          <td>Color</td>
                          <td>Black</td>
                        </tr>
                        <tr>
                          <td>Brand</td>
                          <td>Somebrand</td>
                        </tr>
                      </tbody>
                    </table> 
            </app-view-tab>
            
            <app-view-tab title="Reviews">                
                    <div class="comments reviews">
                      <div class="comment clearfix">
                        <div class="comment-avatar"><img src="" alt="avatar"></div>
                        <div class="comment-content clearfix">
                          <div class="comment-author font-alt"><a href="#">John Doe</a></div>
                          <div class="comment-body">
                            <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The European languages are members of the same family. Their separate existence is a myth.</p>
                          </div>
                          <div class="comment-meta font-alt">Today, 14:55 -<span><i class="fa fa-star star"></i></span><span><i class="fa fa-star star"></i></span><span><i class="fa fa-star star"></i></span><span><i class="fa fa-star star"></i></span><span><i class="fa fa-star star-off"></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="comment clearfix">
                        <div class="comment-avatar"><img src="" alt="avatar"></div>
                        <div class="comment-content clearfix">
                          <div class="comment-author font-alt"><a href="#">Mark Stone</a></div>
                          <div class="comment-body">
                            <p>Europe uses the same vocabulary. The European languages are members of the same family. Their separate existence is a myth.</p>
                          </div>
                          <div class="comment-meta font-alt">Today, 14:59 -<span><i class="fa fa-star star"></i></span><span><i class="fa fa-star star"></i></span><span><i class="fa fa-star star"></i></span><span><i class="fa fa-star star-off"></i></span><span><i class="fa fa-star star-off"></i></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="comment-form mt-30">
                      <h4 class="comment-form-title font-alt">Add review</h4>
                      <form method="post">
                        <div class="row">
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label class="sr-only" for="name">Name</label>
                              <input class="form-control" id="name" type="text" name="name" placeholder="Name">
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label class="sr-only" for="email">Name</label>
                              <input class="form-control" id="email" type="text" name="email" placeholder="E-mail">
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <select class="form-control">
                                <option selected="true" disabled="">Rating</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-sm-12">
                            <div class="form-group">
                              <textarea class="form-control" id="" name="" rows="4" placeholder="Review"></textarea>
                            </div>
                          </div>
                          <div class="col-sm-12">
                            <button class="btn btn-round btn-d" type="submit">Submit Review</button>
                          </div>
                        </div>
                      </form>
                    </div> 
            </app-view-tab>
        </app-tab-panel>       
    </div>
</section>
  