<h2>Create New Account</h2>

<form #f="ngForm" (ngSubmit)="createAccount(account.value)">
    <div (ngModelGroup)="account" #account="ngModelGroup">
        <div class="form-group row">
            <div class="col col-sm-2" align="right">
                <label for="username">Username : </label>
            </div>
            <div class="col col-sm-5" >
                <input [(ngModel)]="acc.username" #username="ngModel" required
                       name="username" 
                       id="username" 
                       type="text" 
                       class="form-control"
                       >  
            </div>
            <div class="col col-sm-5" >
                <div *ngIf="username.touched && username.invalid" class="alert alert-danger">username is required</div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col col-sm-2" align="right">
                <label for="password">Password : </label>
            </div>
            <div class="col col-sm-5" >
                <input [ngModel]="acc.password" #password="ngModel" required
                       name="password" 
                       id="password" 
                       type="password" 
                       class="form-control"
                         >
            </div>
            <div class="col col-sm-5" >
                <div *ngIf="password.touched && password.invalid" class="alert alert-danger">password is required</div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col col-sm-2" align="right">
                <label for="activeStatus">is Active : </label>     
            </div>
            <div class="col col-sm-5" > 
                <label class="custom-control custom-radio">
                    <input [ngModel]="acc.activeStatus" [value]="true" name="activeStatus" type="radio" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Yes</span>
                </label>
                <label class="custom-control custom-radio">
                    <input [ngModel]="acc.activeStatus"  [value]="false" name="activeStatus" type="radio" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">No</span>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col col-sm-2" align="right">
                <label for="locked">is Locked :</label>
            </div>
            <div class="col col-sm-5" >
                <label class="custom-control custom-radio">
                    <input [ngModel]="acc.locked" [value]="true" name="locked" type="radio" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Yes</span>
                </label>
                <label class="custom-control custom-radio">
                    <input [ngModel]="acc.locked" [value]="false" name="locked" type="radio" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">No</span>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col col-sm-2" align="right">
                <label for="accountExpired">is Expired : </label>
            </div>
            <div class="col col-sm-5" >
                <label class="custom-control custom-radio">
                    <input [ngModel]="acc.accountExpired" [value]="true" name="accountExpired" type="radio" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Yes</span>
                </label>
                <label class="custom-control custom-radio">
                    <input [ngModel]="acc.accountExpired" [value]="false" name="accountExpired" type="radio" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">No</span>
                </label>
            </div>
        </div> 
    </div>
    <div class="form-group row">
        <div class="col col-sm-2" align="right">
            <label>Blogs</label>
        </div>
        <div class="col col-sm-5" ><input [ngModel]="acc.blogs" #blogs="ngModel"
                       name="blogs" 
                       id="blogs" 
                       type="hidden" value="[]" >
            <label>account.blogs.value | json</label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col col-sm-1" align="right">
        </div>
        <div class="col col-sm-2" align="center">
            <button class="btn btn-primary" type="submit">Create Account</button>
        </div>
        <div class="col col-sm-2" align="center">
            <button class="btn btn-primary" routerLink="/Accounts"  >
                <i class="fa fa-window-close" aria-hidden="true"> Cancel</i>   
            </button>
        </div>  
    </div>
</form>

{{ account.value | json }}           <br/><br/> 
{{ acc | json }}