<div style="padding-top: 90px;" ></div>
<div>
    <h2>Skills</h2>  
    <a routerLink="/admin/skills/new" 
        class="btn btn-link btn-danger">Create New</a> 
        
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>Last Modified</th>
                <th>Last Modified By</th> 
                <th>&nbsp;</th> 
            </tr> </thead>
        <tr *ngFor="let skill of skills" >           
            <td>
                <a [routerLink]="['/skills/', skill.id, 'view']" class="btn btn-link btn-danger">
                    <i class="fa fa-eye" aria-hidden="true">{{skill.id}}</i>                
                </a> 
            </td>
            <td>{{skill.name}}</td>
            <td>{{skill.modificationTime }}</td> 
            <td>{{skill.modifiedByUser}}</td> 
            <td> 
                <a [routerLink]="['/admin/skills/', skill.id]"   class="btn btn-link btn-link-info">
                    <i class="fa fa-edit" aria-hidden="true"> Edit</i>                
                </a>  
                <button (click)="deleteskill(skill)" class="btn btn-link btn-link-danger">
                    <i class="fa fa-minus" aria-hidden="true"> Delete</i></button> 
            </td>
        </tr>
    </table>
</div>