<div style="padding-top: 90px;" ></div>
<div>
    <h2>Product Types</h2>  
    <a routerLink="/admin/producttypes/new" 
        class="btn btn-link btn-danger">Create New</a> 
        
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>Last Modified</th>
                <th>Last Modified By</th> 
                <th>&nbsp;</th> 
            </tr> </thead>
        <tr *ngFor="let productType of productTypes" >           
            <td>
                <a [routerLink]="['./', productType.id, 'view']" class="btn btn-link btn-danger">
                    <i class="fa fa-eye" aria-hidden="true">{{productType.id}}</i>                
                </a> 
            </td>
            <td>{{productType.name}}</td>
            <td>{{productType.modificationTime }}</td> 
            <td>{{productType.modifiedByUser}}</td> 
            <td> 
                <a [routerLink]="['./', productType.id]"   class="btn btn-link btn-link-info">
                    <i class="fa fa-edit" aria-hidden="true"> Edit</i>                
                </a>  
                <button (click)="delete(productType)" class="btn btn-link btn-link-danger">
                    <i class="fa fa-minus" aria-hidden="true"> Delete</i></button> 
            </td>
        </tr>
    </table>
</div>