<!--==========================
  Hero Section
============================-->

<section id="hero" 
         style="background: url(/assets/images/bg2.jpg) top center fixed; background-size: cover;" >
    <div class="hero-container align-middle center"  >  
        <div style="padding-top: 90px;" ></div> 
        <h1>{{serviceCategory.name}}</h1>
        <p class="sc-text" [innerHTML]="serviceCategory.description"></p>
        <a href="#products" class="btn-get-started">View More</a> 
    </div> 
</section><!-- #hero -->


<main id="main">

    <!--==========================
      Services Section
    ============================-->
    <section id="products" *ngIf="serviceCategoryProducts && serviceCategoryProducts.length >= 1">
        <div class="container wow fadeIn">
            <div class="section-header">
                <h3 class="section-title">We are the best {{ serviceCategory.name }} service provider.</h3>
                <p class="section-description">With over 3 years of expirience, we will give you expert tailured solutions on these and related products.</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s"
                     *ngFor="let pr of serviceCategoryProducts">
                     <div class="box">
                        <div class="icon"><a [routerLink]="'/products/'+pr.name"><i class="fa fa-desktop"></i></a></div>
                        <h4 class="title"><a [routerLink]="'/products/'+pr.name" >{{pr.name}}</a></h4> 
                        <p class="description" [innerHtml]="pr.shortDescription"></p>
                    </div>
                </div> 
            </div>

        </div>
    </section><!-- #products -->



    <!--==========================
    Call To Action Section
    ============================-->
    <section id="call-to-action-section">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-lg-9 text-center text-lg-left">
                    <h3 class="cta-title">Intrested ?</h3>
                    <p class="cta-text"> If you are intrested in our service, you can contact us or you can get a free Quote.</p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="#">Contact Us.</a>
                </div>
            </div>

        </div>
    </section><!-- #call-to-action-section -->


</main>

