/*!
 * HiSolution Media Queiries SCSS v1.0.0 
 * Copyright 2018 Heritage Innovative Solutions 
 * Author     : gdenzilg@gmail.com
 */  


/* big tablets & laptops : 1200px */
@media only screen and (max-width: 1199px){
    /* Header Components*/
    .hero-h1 { 
        margin-bottom: 19.5px; 
        font-size: 235%;   
        word-spacing: 4.5px; 
    }

    .hero-h2 { 
        margin-bottom: 19.5px;
        font-size: 135%; 
    }

    .hero-title{ 
        padding-top : 25px;
    }

    .hero-p {  
        font-size: 113%;
        min-height: 120px;
    }

    .hero-services-h1{  
        font-size: 180%;   
        word-spacing: 4px; 
    }

    /*    .hero-services-carousel-slide{  
            width: 96vw;
        }*/

    .hero-services-carousel-inner{ 
        width:85%;
    }

    .carousel-control-prev, .carousel-control-next { 
        width: 9%; 
    }
    /* End Header Components*/

    section{ 
        padding: 50px 0 ;
    }

    #call-to-action-section .section-title { 
        font-weight: 420;
    }

    .container { 
        padding-right: 14px;
        padding-left: 14px; 
    }

    .section-header { 
        padding-bottom: 30px; 
        margin-bottom: 30px;  
    }

    .section-description { 
        line-height: 140%;
        width: 780px; 
    }  

    .btn-light, #newsletterEmail{  
        height: 38px;
        border-width: 1.8px;
    }

    .btn-light{
        border-left-width: 0.7px;
    }

    #newsletterEmail{
        border-right-width: 0.7px; 
    }
}

/* small to big tablets : 768 to 1023px */
@media only screen and (max-width: 1023px){

    body{ font-size: 18px ; }

    section{  padding: 40px 0 ;   }

    #call-to-action-section .section-title { 
        font-weight: 400;
    }

    .container { 
        padding-left: 4px; 
        padding-right: 4px;
        margin-left: auto;
        margin-right: auto;
    }

    .section-header { 
        padding-bottom: 28px; 
        margin-bottom: 28px;  
    }

    .section-description { 
        line-height: 120%;
        width: 720px; 
    }  

    /* Header Components*/
    .hero-h1 { 
        margin-bottom: 15px; 
        font-size: 200%;   
        word-spacing: 4px; 
    }

    .hero-services-h1 {  
        font-size: 160%;   
        word-spacing: 3.5px; 
    }

    .hero-h2 { 
        margin-bottom: 19.5px;
        font-size: 135%; 
    }

    .hero-title{ 
        padding-top : 25px;
    }

    .hero-p {  
        font-size: 113%;
        min-height: 120px;
    }

    /*    .hero-services-carousel-slide{  
            width: 96vw;
        }*/

    .hero-services-carousel-inner{ 
        width:90%;
    }

    .carousel-control-prev, .carousel-control-next { 
        width: 6%; 
    }
    /* End Header Components*/

    .navbar-toggler  { 
        margin-right: 8% ; 
    }
}

/* big phones to small tablets : 481 to 767px */
@media only screen and (max-width: 767px){

    body { font-size: 16px; }
    section{ padding: 30px 0 ;   }

    /* Back To Top Button */ 
    .back-to-top {
        bottom: 17px;
    } 

    .container { 
        padding-left: 2.5px; 
        padding-right: 2.5px;
        margin-left: auto;
        margin-right: auto; 
    }

    #call-to-action-section .section-title { 
        font-weight: 390; 
        font-size: 175%;
    }

    .section-header { 
        padding-bottom: 15px; 
        margin-bottom: 15px;  
    }

    .section-description { 
        line-height: 115%;
        width: 460px; 
    }   

    /* Header Components*/ 
    .hero-h1 { 
        margin-bottom: 12px; 
        font-size: 180%;   
        word-spacing: 3.5px; 
    }

    .hero-services-h1 {  
        font-size: 150%;   
        word-spacing: 3px; 
    }

    .hero-h2 { 
        margin-bottom: 15px;
        font-size: 120%; 
    }

    .hero-title{ 
        padding-top : 12px;
    }

    .hero-p {  
        font-size: 100%;
        min-height: 100px;
    }

    .hero-services-carousel-inner{ 
        width:94%;
    }

    .carousel-control-prev, .carousel-control-next { 
        width: 5.5%; 
    }
    /* End Header Components*/

    .navbar-toggler  { 
        margin-right: 7% ; 
    }

    #services-hero-section  .hero-title   { 
        padding-top: 0 ;
        margin-bottom: 0;
    }

    #services-hero-section  .hero-title .hero-p  { 
        margin-bottom: 0;
    }

    #ServiceCatchCarousel{
        margin-top: 0;
    }

    #ServiceCatchCarousel .carousel-caption {
        padding-top: 0 ;
    } 

    #ServiceCatchCarousel {
        margin-top: 2%;  
    }

    #ServiceCatchCarousel .services-catchy-phrases{
        margin-left : 8%;
    } 

    .product-section-products .product .img-col {
        order:2 ;
    }

    .product-section-products .product .text-col {
        order:1 ;
        margin-bottom: 20px;
    } 

    .product-section-products .product{ 
        padding-top: 0px;   
    } 

    .product-section-products .product:first-child{
        //margin-top: 0px;
    }

    .product-section-products .product:last-child{
        margin-top: 0px; 
        margin-bottom: 20px; 
    }
}

/* small phones : 0 to 480px */
@media only screen and (max-width: 479px){ 
    section {  padding: 10px 0;   } 

    #call-to-action-section .section-title { 
        font-size: 160%;
    }

    .container { 
        padding-right: 1px;
        padding-left: 1px; 
        margin-left: auto;
        margin-right: auto;
    }

    .section-header { 
        padding-bottom: 20px; 
        margin-bottom: 20px;  
    }

    .section-title {
        margin-bottom: 15px;
    }

    .section-description { 
        line-height: 115%;
        width: 344px; 
    }  

    #facts-section .counters p { 
        margin-bottom: 5px;
    }

    /* Header Components*/
    .hero-h1 { 
        margin-bottom: 19.5px; 
        //font-size: 235%;   
        word-spacing: 4.5px; 
    }

    .hero-h2 { 
        margin-bottom: 19.5px;
        font-size: 135%; 
    }

    .hero-title{ 
        padding-top : 25px;
    }

    .hero-p {  
        font-size: 113%;
        min-height: 120px;
    } 

    .hero-services-carousel-inner{ 
        width:97%;
    }

    .carousel-control-prev, .carousel-control-next { 
        width: 5%; 
    }
    /* End Header Components*/

    .navbar-toggler  { 
        margin-right: 6% ; 
    }
}


@media only screen and (max-width: 575px){ 

    section .section-title { 
        margin-left: 2%;
        margin-right: 2%;
    }

    #footer {  
        margin-top: 0px; 
        position: absolute; 
        font-size: 500%;
    }

    .navbar-toggler  { 
        margin-right: 5% ; 
    }

    #services-hero-section  .hero-title .hero-p  { 
        margin-top: 5%;
        margin-bottom: 10%;
        margin-left: 2%;
        margin-right: 8%;
    }
}