 <div class="container-fluid" style="padding-top: 90px;" >
    <h2>Products</h2>  
    <a routerLink="/admin/products/new" 
        class="btn btn-link btn-danger">Create New</a> 
        
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Type</th>
                <th>Vendor</th>
                <th>&nbsp;</th> 
            </tr> </thead>
        <tr *ngFor="let product of products" >           
            <td>
                <a [routerLink]="['/products/', product.id, 'view']" class="btn btn-link btn-danger">
                    <i class="fa fa-eye" aria-hidden="true">{{product.id}}</i>                
                </a> 
            </td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price | currency:'USD':'symbol' }}</td> 
            <td>{{product.productType.name}}</td>
            <td>{{product.vendor.name}}</td>
            <td> 
                <a [routerLink]="['/admin/products/', product.id]"   class="btn btn-link btn-link-info">
                    <i class="fa fa-edit" aria-hidden="true"> Edit</i>                
                </a>  
                <button (click)="deleteProduct(product)" class="btn btn-link btn-link-danger">
                    <i class="fa fa-minus" aria-hidden="true"> Delete</i></button> 
            </td>
        </tr>
    </table>
</div>
 