 <div class="container-fluid" style="padding-top: 90px;" >
    <h2>Products</h2>  
    <a routerLink="/admin/products/new" 
        class="btn btn-link btn-danger">Create New</a> 
        
    <table class="table table-stripped">
        <thead>
            <tr> 
                <th>Name</th>
                <th class="tbl-th-description">Description</th>
                <th>Thumb</th>
                <th>Price</th>
                <th>Type</th>
                <th>Vendor</th>
                <th>&nbsp;</th> 
            </tr> </thead>
        <tr *ngFor="let product of products" >         
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td><div class="card" style="width:120px;">
                    <img class="card-img-top" [src]="product.imageUrl" alt="{{product.name}} thumbnail" title="{{product.name}}" > 
                </div></td>
            <td>{{product.price | currency:'USD':'symbol' }}</td> 
            <td>{{product.productType.name}}</td>
            <td>{{product.vendor.name}}</td>
            <td>    
                <button [routerLink]="['./', product.id, 'view']" class="btn btn-link" title="Preview : {{product.name}}">
                    <i class="fa fa-eye" aria-hidden="true"></i>                
                </button>  
                <button [routerLink]="['./', product.id]" class="btn btn-link" title="Edit : {{product.name}}">
                    <i class="fa fa-edit" aria-hidden="true"></i>                
                </button>  
                <button (click)="deleteProduct(product)" class="btn btn-link" title="Delete : {{product.name}}">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button> 
            </td>
        </tr>
    </table>
</div>
 