<div style="padding-top: 90px;" ></div>
<div>
    <h2>Topics</h2>  
    <a routerLink="/admin/topics/new" 
        class="btn btn-link btn-danger">Create New</a> 
        
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>Last Modified</th>
                <th>Last Modified By</th> 
                <th>&nbsp;</th> 
            </tr> </thead>
        <tr *ngFor="let topic of topics" >           
            <td>
                <a [routerLink]="['/topics/', topic.id, 'view']" class="btn btn-link btn-danger">
                    <i class="fa fa-eye" aria-hidden="true">{{topic.id}}</i>                
                </a> 
            </td>
            <td>{{topic.name}}</td>
            <td>{{topic.modificationTime }}</td> 
            <td>{{topic.modifiedByUser}}</td> 
            <td> 
                <a [routerLink]="['/admin/topics/', topic.id]"   class="btn btn-link btn-link-info">
                    <i class="fa fa-edit" aria-hidden="true"> Edit</i>                
                </a>  
                <button (click)="deletetopic(topic)" class="btn btn-link btn-link-danger">
                    <i class="fa fa-minus" aria-hidden="true"> Delete</i></button> 
            </td>
        </tr>
    </table>
</div>