<div class="nav-container nav-container-bg">
    <nav class="navbar navbar-static-top navbar-expand-lg ">
        
        <div class="navbar-brand-wrapper">
            <a class="navbar-brand" href="#">
                <img _ngcontent-c3="" alt="" height="60%" src="../assets/images/logo.png" width="100%">
            </a>
        </div>
        
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-navicon"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-auto "> 
                <li class="nav-item active highlight-purple">
                    <a class="nav-link"  routerLinkActive="active current" routerLink="/">Home <span class="sr-only">(current)</span></a>
                </li>
                
                <li class="nav-item dropdown" routerLinkActive="active current" 
                     *ngIf="globals.serviceCategories && globals.serviceCategories.length >= 1" >
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="budropdown-togglettondropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Our Services
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a  class="dropdown-item"
                            routerLinkActive="active current" 
                            *ngFor="let serviceCategory of globals.serviceCategories"  
                            [routerLink]="'/services/service/'+serviceCategory.name" >
                            {{serviceCategory.name}} </a> 
                    </div>
                </li>
                <li class="nav-item dropdown" *ngIf="globals.admin">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"  routerLinkActive="active current" routerLink="/admin/servicecategories">Service Categories</a>
                        <a class="dropdown-item"  routerLinkActive="active current" routerLink="/admin/products">Products</a>
                        <a class="dropdown-item"  routerLinkActive="active current" routerLink="/admin/producttypes">Product Types</a>
                        <a class="dropdown-item"  routerLinkActive="active current" routerLink="/admin/skills">Skills</a>
                        <a class="dropdown-item"  routerLinkActive="active current" routerLink="/admin/prerequisites">Pre Requisites</a>
                        <a class="dropdown-item"  routerLinkActive="active current" routerLink="/admin/audiances">Audiances</a>
                        <a class="dropdown-item"  routerLinkActive="active current" routerLink="/admin/topics">Topics</a>
                        <a class="dropdown-item"  routerLinkActive="active current" routerLink="/admin/distributionmethods">Distribution Methods</a>  
                        <a class="dropdown-item"  routerLinkActive="active current" routerLink="/admin/vendors">Vendors</a>  
                    </div>
                </li>
                <li class="nav-item" *ngIf="globals.production==false">
                    <a class="nav-link" routerLinkActive="active current" routerLink="/welcome/our-portfolio" >
                        Our Portfolio
                    </a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active current" routerLink="/welcome/contact-us" >
                        Contact Us
                    </a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active current" routerLink="/welcome/about-us" >
                        About Us
                    </a>
                </li> 
                <li class="nav-item" *ngIf="globals.admin">
                    <a class="nav-link" routerLinkActive="active current" routerLink="/logout" >
                        Log Out
                    </a>
                </li> 
            </ul> 
        </div>
    </nav>
</div>