@import "../../../../styles-theme.scss";

/* #Footer */
#footer {
	background: #0e0e0e;
        
/*        background-color: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) ;
        background-image: url(/assets/images/footer-img.jpg);   
        background-position: center;
        background-size: cover;*/
        
	border-top: 4px solid #0e0e0e;
	font-size: 90%;
	margin-top: 40px; 
	position: relative;
	clear: both;
}
 

#footer .container input:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

#footer .logo {
	display: block;
} 

#footer .copyright {
	//background: #060606;
	border-top: 4px solid #060606;
	padding: 10px 0;
}

//#footer .copyright, #footer .credits {
 #footer .copyright-col{ 
/*	left:50%;
        transform: translateX(-50%); */
/*        margin-left: auto;
        margin-right: auto;*/
text-align: center;
}

#footer .sub-menu-col  { 
	padding-top: 10px; 
}

#footer .sub-menu nav {
	float: right;
}

#footer .sub-menu nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#footer .sub-menu nav ul li {
	border-left: 1px solid #505050;
	display: inline-block;
	line-height: 12px;
	margin: 0;
	padding: 0 8px;
}

#footer .sub-menu nav ul li:first-child {
	border: medium none;
	padding-left: 0;
}

#footer.color .sub-menu nav ul li {
	border-left-color: #fff;
}

#footer .sub-menu p { 
	margin: 0;
	padding: 0;
}      
 
#footer.color {
	color: #fff;
}

#footer.color p {
	color: #fff;
}

#footer.footer-reveal {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: -10;
}

