<!--==========================
    Footer
  ============================-->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="footer-ribbon">
                <span>Get in Touch</span>
            </div>
            <div class="col-lg-3">
                <div class="newsletter">
                    <h4>Newsletter</h4>
                    <p>Keep up on our always evolving product features and technology. Enter your e-mail and subscribe to our newsletter.</p>

                    <div class="alert alert-success d-none" id="newsletterSuccess">
                        <strong>Success!</strong> You've been added to our email list.
                    </div>

                    <div class="alert alert-danger d-none" id="newsletterError"></div>

                    <form id="newsletterForm" action="php/newsletter-subscribe.php" method="POST" novalidate="novalidate">
                        <div class="input-group">
                            <input class="form-control form-control-sm" placeholder="Email Address" name="newsletterEmail" id="newsletterEmail" type="text">
                            <span class="input-group-append">
                                <button class="btn btn-light" type="submit">Go!</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3">
                <h4>Latest Tweets</h4>
                <div id="tweet" class="twitter" data-plugin-tweets="" data-plugin-options="{'username': 'oklerthemes', 'count': 2}"><ul><li><span class="status"><i class="fa fa-twitter"></i> If you have any suggestions for the next updates, let us know.</span><span class="meta"> <a href="http://twitter.com/OklerThemes/status/644859776422293504" target="_blank">07:05 AM Sep 18th</a></span></li><li><span class="status"><i class="fa fa-twitter"></i> We have just updated Porto Admin. Check the changelog for more information.</span><span class="meta"> <a href="http://twitter.com/OklerThemes/status/644859595777830913" target="_blank">07:04 AM Sep 18th</a></span></li></ul></div>
            </div>
            <div class="col-lg-4">
                <div class="contact-details">
                    <h4>Contact Us</h4>
                    <ul class="contact">
                        <li><p><i class="fa fa-map-marker"></i> <strong>Address : </strong> 14657 Galloway Park, Norton, Zimbabwe</p></li>
                        <li><p><i class="fa fa-envelope"></i> <strong>Email : </strong> <a href="mailto:info@hisolutions.co.zw">info@hisolutions.co.zw</a></p></li>
                        <li><p><i class="fa fa-phone"></i> <strong>Phone : </strong>(+263) 783 989 510, (+236) 782 734 708 </p></li>  
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <h4>Follow Us</h4>
                <ul class="social-icons">
                    <li class="social-icons-facebook"><a href="#" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li class="social-icons-twitter"><a href="#" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li class="social-icons-linkedin"><a href="#" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>                     
                    <li class="social-icons-linkedin"><a href="#" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                    <li class="social-icons-linkedin"><a href="#" target="_blank" title="Google-Plus"><i class="fa fa-google-plus"></i></a></li> 
                </ul> 
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">


                <div class="col-lg-1">
                    <a href="index.html" class="logo">
                        <img alt="Heritage Innovative Solutions" class="img-fluid" src="../assets/images/logo9.jpg">
                    </a>
                </div>

                <div class="col-lg-7">

                    <div class="copyright">
                        &copy; Copyright <strong>2018</strong>. All Rights Reserved
                    </div>
                    <div class="credits"> 
                        Website Designed by <a href="http://hisolutions.co.zw" target="_blank">hisolutions.co.zw</a>
                    </div>
                </div> 

                <div class="col-lg-4">
                    <nav id="sub-menu">
                        <ul>
                            <li><a *ngIf="production==false" routerLink="page-faq">FAQ's</a></li>
                            <li><a *ngIf="production==false" routerLink="site-map">Sitemap</a></li>
                            <li><a routerLink="contact-us">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div> 
    </div>
</footer>

<!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>