<!--==========================
    Footer
  ============================-->
<footer id="footer">
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-1 col-sm-4">
                    <a routerLink="/" class="logo">
                        <img alt="Heritage Innovative Solutions" class="img-fluid" src="../assets/images/logo.png">
                    </a>
                </div>

                <div class="col-lg-7">

                    <div class="copyright">
                        &copy; Copyright <strong>2018</strong>. All Rights Reserved
                    </div>
                    <div class="credits"> 
                        Website Designed by <a href="http://hisolutions.co.zw" target="_blank">hisolutions.co.zw</a>
                    </div>
                </div> 

                <div class="col-lg-4">
                    <nav id="sub-menu">
                        <ul>
                            <li><a *ngIf="production==false" routerLink="page-faq">FAQ's</a></li>
                            <li><a *ngIf="production==false" routerLink="site-map">Sitemap</a></li>
                            <li><a routerLink="contact-us">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div> 
    </div>
</footer>
