
<!--==========================
  About Us Section
============================-->
<section id="about" >
    <div class="container wow fadeInUp">
        <div class="section-header">
            <h3 class="section-title">Few Words About Us</h3>
            <p>
                Heritage Innovative Solutions, established in 2015, is one of the uprising talented startups that aspires to be one of the leading technological companies that offers high quality products and services in the ICT Sector.
            </p>
        </div>
    </div>

    <div class="container wow fadeInUp">
        <div class="row about-container"> 
            <div class="col content order-lg-1 order-2"> 
                <p>
                    Heritage Innovative Solutions is a consulting-oriented company, intending to fill in the market need for
                    a professional, customer-oriented computer company. The company emphasizes service and support
                    to differentiate itself from more price-oriented computer companies. We are on the brink of penetrating
                    a lucrative market in a rapidly growing industry. The current trend towards an increase in the number of
                    entrepreneurs and competition amongst existing companies presents an opportunity for Heritage
                    Innovative Solutions to penetrate this market.
                </p>
                <p>
                    Through monitoring of new trends, market demands and customer needs, we strive to offer the latest products and give the most relevant solutions for any business need.

                </p>

                <div class="icon-box wow fadeInUp">
                    <div class="icon"><i class="fa fa-eye"></i></div>
                    <h4 class="title"><a href="">Vision</a></h4>
                    <p class="description">
                        To become the leading ICT-Consutancy Company in Zimbabwe. To be a large force in Africa 
                        and the world at large.
                    </p>
                </div>

                <div *ngIf="production==false" class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                    <div class="icon"><i class="fa fa-bullseye"></i></div>
                    <h4 class="title"><a href="">Mission</a></h4>
                    <p class="description">
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                    </p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                    <div class="icon"><i class="fa fa-check"></i></div>
                    <h4 class="title"><a href="">Objectives</a></h4>
                    <div class="description"> 
                        <p>
                            Our business strategy will revolve around the need to provide quality products and services 
                            to our various customers. This will be undertaken through setting up a professional team 
                            and providing quality, custom-designed services, catering to the client's particular needs.
                        </p>
                        <ul>
                            <li>
                                Become a loyal citizen as a company by engaging in Corporate and Social Responsibility activities,
                                supporting the growth and development of the nation, giving back to the community.
                            </li>
                            <li>Achieve 15% market share by the end of the first year, 35% by the end of the second year and
                                eventually becoming a force to recon with by dominating the market by the fifth year.
                            </li>
                            <li>
                                To install a culture of continuous growth and improvement by setting new records to our standards
                                of better quality in service delivery and product sales. instill a culture that work as a unit to attain
                                company objectives.
                            </li>
                        </ul>
                    </div>
                </div>  

                <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                    <div class="icon"><i class="fa fa-handshake-o"></i></div>
                    <h4 class="title"><a href="">Values</a></h4>
                    <div class="description"> 
                        <p>
                            Heritage Innovative Solutions is committed to the fair and ethical treatment of employees and
                            stakeholders. This shall be undertaken through implementation of the following company values : 
                        </p>
                        <ul>
                            <li>We intend to provide products and services of uncompromising quality.</li>
                            <li>We intend to seek mutually beneficial and enduring relationships in all the commitments that
                                we make, ensuring that they are straightforward and honest.</li>
                            <li>Our communication will be open and accurate, both internally and externally.</li>
                        </ul>
                    </div>
                </div> 
            </div> 
        </div> 
    </div>
</section><!-- #about -->



<!--==========================
  Team Section
============================-->
<section id="team">
    <div class="container wow fadeInUp">
        <div class="section-header">
            <h3 class="section-title">Meet the team</h3>
            <p class="section-description">We have a team of experienced professionals with worldly renowned principles. We offer value for money.</p>
        </div>
        <div class="row wow fadeInUp">
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="/assets/images/team-1.jpg" alt=""/></div>
                    <h4>D Gumbo</h4>
                    <span>Chief Executive Officer</span>
                    <div class="social">
                        <a target="_blank" href="http://twitter.com/gdenzilg"><i class="fa fa-twitter"></i></a>
                        <a target="_blank" href="http://fb.me/Denzy.G"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href="http://plus.google.com/u/0/103851948846851829875"><i class="fa fa-google-plus"></i></a>
                        <a target="_blank" href="http://linkedin.com/in/denzilgumbo"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="/assets/images/team-2.jpg" alt=""/></div>
                    <h4>T Masara</h4>
                    <span>Product Manager</span>
                    <div class="social">
                        <a target="_blank" href=""><i class="fa fa-twitter"></i></a>
                        <a target="_blank" href=""><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href=""><i class="fa fa-google-plus"></i></a>
                        <a target="_blank" href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="/assets/images/team-3.jpg" alt=""/></div>
                    <h4>J Mangwana</h4>
                    <span>CTO</span>
                    <div class="social">
                        <a target="_blank" href=""><i class="fa fa-twitter"></i></a>
                        <a target="_blank" href=""><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href=""><i class="fa fa-google-plus"></i></a>
                        <a target="_blank" href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="pic"><img src="/assets/images/team-4.jpg" alt=""/></div>
                    <h4>T Mugari</h4>
                    <span>Accountant</span>
                    <div class="social">
                        <a target="_blank" href=""><i class="fa fa-twitter"></i></a>
                        <a target="_blank" href=""><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href=""><i class="fa fa-google-plus"></i></a>
                        <a target="_blank" href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- #team -->

